* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/fotos/horizont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    overflow: hidden;
}

.score {
    font-size: 4em;
    margin-bottom: .5em;
}

.board {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}

.hole {
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
        inset 0 20px 20px 15px rgba(0, 0, 0, .3),
        0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}

.hole .mole  {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: raise .3s ease-out;
    overflow: hidden;

}

.hole2 {
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
        inset 0 20px 20px 15px rgba(0, 0, 0, .3),
        0 0 5px rgba(0, 0, 0, .5);
    transform: translateX(-50%);
    animation: raise .3s ease-out;
    overflow: hidden;

}
.board2 {
    position: absolute;
    top: 100px;
    height: 700px;
    width: 800px;
    right: 350px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 80px;
}

@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.cursor {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('/fotos/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
}

ul.link {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 4px solid #ffcc00;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul.link li {
    display: inline;
    margin: 10px;
}


ul.link li a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
    padding: 1px 10px;
}


ul.link li a:hover {
    background-color: #ffcc00;
    color: #000;
    border-radius: 5px;
}